.btn {
  text-transform: unset;
  &-primary {
    background-color: $primary;
    color: $white;
  }
  &-secondary {
    background-color: $secondary;
    color: $white;
    &.btn {
      &-bordered {
        border: 4px solid $secondary;
        &-thin {
          border: 2px solid $secondary;
        }
      }
    }
  }
  &-disabled {
    background-color: $disabled;
    color: $white;
    &.q-btn {
      opacity: 1 !important;
    }
  }
  &-full-width {
    width: 100%;
  }
}
