@font-face {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/Inconsolata/Inconsolata-Regular.ttf);
}

.text {
  &-underline {
    text-decoration: underline;
  }
}
