$inconsolata: (
  100: './fonts/Inconsolata/Inconsolata-ExtraLight.woff2',
  200: './fonts/Inconsolata/Inconsolata-Light.woff2',
  300: './fonts/Inconsolata/Inconsolata-Thin.woff2',
  400: './fonts/Inconsolata/Inconsolata-Regular.woff2',
  500: './fonts/Inconsolata/Inconsolata-Medium.woff2',
  600: './fonts/Inconsolata/Inconsolata-SemiBold.woff2',
  700: './fonts/Inconsolata/Inconsolata-Bold.woff2',
  800: './fonts/Inconsolata/Inconsolata-ExtraBold.woff2',
  900: './fonts/Inconsolata/Inconsolata-Black.woff2',
);

@each $weight,
$url in $inconsolata {
  @font-face {
    font-family: 'Inconsolata';
    src: url($url);
    font-weight: $weight;
    // font-style: normal;
  }
}

.text {
  &-underline {
    text-decoration: underline;
  }
}

*:not(i) {
  font-family: 'Inconsolata', monospace;
}
