* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

.bg {
  &-dark {
    // color: #fff;
    .q-card {
      background-color: $dark;
    }
    .q-field__control {
      background-color: #fff;
    }
  }
  &-primary {
    // color: #fff;
    .q-card {
      background-color: $primary;
    }
    .q-field {
      &__control {
        background-color: #fff;
      }
      &--error {
        .q-field__bottom {
          color: #fff;
        }
      }
    }
  }
  &-light {
    // color: #000;
  }
}

.container {
  width: 100%;
}

.content {
  width: 75%;
}

.bg {
  &-2 {
    background-color: #ededed;
  }
}

.page-content {
  width: 85%;
  margin: auto;
}

.clickable {
  cursor: pointer;
}
