* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

.bg {
  &-dark {
    // color: #fff;
    .q-card {
      background-color: $dark;
    }
    .q-field__control {
      background-color: #fff;
    }
  }
  &-primary {
    // color: #fff;
    .q-card {
      background-color: $primary;
    }
    .q-field {
      &__control {
        background-color: #fff;
      }
      &--error {
        .q-field__bottom {
          color: #fff;
        }
      }
    }
  }
  &-light {
    // color: #000;
  }
}

.container {
  width: 100%;
}

.content {
  width: 75%;
}

.bg {
  &-2 {
    background-color: #ededed;
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.page-content {
  width: 85%;
  margin: 0 auto;
  padding: 15px 0;
}

.clickable {
  cursor: pointer;
}

.q {
  &-m {
    &-0 {
      margin: 0;
    }
    &t {
      &-0 {
        margin-top: 0;
      }
    }
    &b {
      &-0 {
        margin-bottom: 0;
      }
    }
    &l {
      &-0 {
        margin-left: 0;
      }
    }
    &r {
      &-0 {
        margin-right: 0;
      }
    }
    &x {
      &-0 {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &y {
      &-0 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.h {
  &-100 {
    height: 100%;
  }
}

.nav-bar-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 72px;
  z-index: -1;
}

.text {
  &-small {
    font-size: 12px;
  }
}
